@import "../bower_components/support-for/sass/support-for";
@import "../bower_components/normalize-scss/sass/normalize";

@import "modules/all";
@import "components/all";
@import "sections/all";

#view-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.intro-content {
  width: 80%;
  font-family: "Avenir";
  color: #2F4F4F;
  display: flex;
  justify-content: center;
}
