$icon-font-path: "../fonts/";

@import "normalize-css/normalize";

@import "modules/all";
@import "components/all";
@import "sections/all";

#view-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#intro-content {
  width: 80%;
  font-family: "Avenir";
  color: #f6f6f6;
}
